@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@500&family=Rajdhani&family=Salsa&display=swap');


#chatroom {
    display: grid;
    grid-template-rows: 30px 1fr;
    
}
#logo{
    padding: 10px 0 0 10px;
}

.chat-components {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin: 0 auto;
    width: 70%;
    height: 510px;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 1fr 2fr;
    border-radius: 25px;
    /* border: 5px solid greenyellow; */
}

.Contacts
 {
    display: grid;
    height: 450px;
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
    font-family: 'Salsa', cursive;
 
}
.Contacts{
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 20px;
    box-shadow:  0 2px 14px rgba(0, 0, 0, 0.5);
}

.ChatMassage {
    width: 70%;
    margin-left:15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}
.ChatContainer{
    /* background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc); */
    height: 500px;
    width: 100%;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
}

#user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(2, 2, 66);
    padding: 4px;
    font-family: 'Afacad', sans-serif;
    font-size: 15px;
    border-radius: 20px 20px 0 0 ;

}

#user-profile .icon {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0.2rem;
    margin-left: auto;
    padding: 1px;
    color: red;
 
}
#user-profile img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.5);
}
#edit,#logout{
    margin: 4px;
    background-color: #ebe0f0;
    border-radius: 1rem;
   font-size: 25px;
   cursor: pointer;
}

.search-area {
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.904); */
   justify-self: center;
    border-radius: 10px;
    height: 30px;
    width: 70%;
    padding: 8px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}


.search-area input {
    padding: 4px;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    margin-right: auto;
    width: 100%;
    background: transparent;
}
.search-area input:focus{
    border:none;
    outline: none;
}

.search-area .icon {
    
   color: #666;
}

.allContactsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2px;
    overflow-y: auto;
    height: 340px;
    overflow-x: hidden;
    /* background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    
}

.allContactsList .contact {
    /* background-color: rgba(79, 79, 199, 0.993); */
    color: #090909;
    border-radius: 3px;
    height:55px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 16px;
}
.allContactsList .contact img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: inset 0 15px 14px rgba(0, 0, 0, 0.5);
   
}

.allContactsList .selected {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-left: 3px solid blue;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 103%;
    border-radius: 0px;
}

.ChatContainer .chat-header{
width: 98%;
height: 12%;
display: flex;
flex-direction: row;
padding: 10px;
align-items: center;
justify-content: space-between;
gap: 0.8rem;
color: black;
font-family: 'Salsa', cursive;
font-size: 20px;
}
.chat-header .avatar_name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
.contact-info{
    font-size: 21px;
    text-align: right;
    cursor: pointer;
}
.ChatContainer .chat-header img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.ChatContainer .chat-massages{
    height: 75%;
}
.ChatContainer .chat-inputBox{
    height: 13%;
}
.Chatinput{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    border-radius: 4px;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
 background: rgba(255, 255, 255, 0.671);
 gap: 0.5rem;
 box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.Chatinput .input-container{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.input-container input{
 width: 90%;
 border: none;
 background: transparent;
 font-size: 14px;
 outline: none;
 font-family: 'Rajdhani', sans-serif;
 font-weight: 800;

}
.input-container input:focus{
 border: none;
 outline: none;
}

.button-conatiner{
    color: #ffff00c8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.emoji{
    position: relative;
}
.emoji svg{
   font-size: 1.5rem;
   cursor: pointer;
}
.emoji .EmojiPickerReact {
    position: absolute;
    top:0px;
    background: rgba(255, 255, 255, 0.815);
    z-index: 10
    
}
.emoji .EmojiPickerReact .epr-search-container, .epr-search{
    background: transparent;

}

#sendBtn {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 0.5em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  #sendBtn{
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  #sendBtn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #sendBtn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color:  #005b90;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  #sendBtn:hover {
    color: #ffffff;
    border: 1px solid  #005b90;
  }
  
  #sendBtn:hover:before {
    top: -35%;
    background-color: #005b90;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #sendBtn:hover:after {
    top: -45%;
    background-color: #005b90;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  @keyframes sendAnimation{
    0%{
        transform: translateY(0) scale(1);
    }
    50%{
        transform: translateY(0) scale(5);
    }
    100%{
        transform: translateY(0) scale(1);
    }
  }
  #sendBtn svg:hover{
    animation: sendAnimation 0.5s ease-in-out ;
  }






/* Media Query */

@media screen and (max-width:900px) {
    .chat-components{
        gap: 0;
        width: 95%;
    }
    .Contacts{
        margin-left: 0;
        margin-right: 2px;
      
    }
    #user-profile img{
        height: 40px;
        width: 40px;
    }
    #user-profile {
        font-size: 12px;
    }
    #user-profile .icon{
        gap: 0;
        padding: 0;
        font-size: 10px;
    }
    .allContactsList .contact{
       font-size: 12px;   
    }
    .allContactsList .contact img {
        height: 40px;
        width: 40px;
    }
    .ChatContainer .chat-header{
        gap: 0.6rem;
        font-size: 15px;
        }
        .ChatContainer .chat-header img{
            height: 45px;
            width: 45px;
            margin-left: 0px;
        }
        .Chatinput{
            width: 95%;
        }

 .emoji svg{
    font-size: 1.3rem;
  }
  .emoji{
    margin-left: 4px;
  }

}