#chatroom {
    display: grid;
    grid-template-rows: 30px 1fr;
}
#logo{
    padding: 10px 0 0 10px;
}

.chat-components {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* border: 5px solid greenyellow; */
}

.Contacts
 {
    height: 500px;
    width: 98%;
    margin: 10px 10px 10px 0;
}
.Contacts{
    background: linear-gradient(to right, #74ebd5, #acb6e5); 
}

.ChatMassage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: url(../../assets/chat_bg.jpg) no-repeat fixed center ; */
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);

}
.ChatContainer{
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#user-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 97%, #FF0000 100%);
    color: blue;
    padding: 2px;
}

#user-profile .icon {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0.2rem;
    margin-left: auto;
    padding: 1px;
    color: red;
 
}
#edit,#logout{
    margin: 4px;
    background-color: #ebe0f0;
    border-radius: 1rem;
   font-size: 25px;
   cursor: pointer;
}

.search-area {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area input {
    padding: 2px;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.904);
    width: 85%;
    box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.904);
}

.search-area .icon {
    background-color: blueviolet;
    border-radius: 5px;
}

.allContactsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    
}

.allContactsList .contact {
    background-color: rgba(6, 6, 90, 0.884);
    border-radius: 2px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.allContactsList .selected {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}

.ChatContainer .chat-header{
width: 100%;
height: 12%;
color: blue;
display: flex;
padding: 10px;
align-items: center;
justify-content: flex-start;
gap: 0.8rem;
border-bottom: 1px solid grey;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 97%, #FF0000 100%);
color: blue;
}
.ChatContainer .chat-massages{
    height: 75%;
}
.ChatContainer .chat-inputBox{
    height: 13%;
}
.Chatinput{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
 background: rgba(255, 255, 255, 0.671);
 gap: 0.5rem;
}
.Chatinput .input-container{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

 
}
.input-container input{
 width: 90%;
 border: none;
 background: transparent;
 font-size: 14px;
 outline: none;

}
.input-container input:focus{
 border: none;
 outline: none;
}
.button-conatiner{
    color: #ffff00c8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.emoji{
    position: relative;
}
.emoji svg{
   font-size: 1.5rem;
   cursor: pointer;
}
.emoji .EmojiPickerReact {
    position: absolute;
    top:0px;
    background: transparent;
    
}
.emoji .EmojiPickerReact .epr-search-container, .epr-search{
    background: transparent;

}

