.files_conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .files_box{
    display:flex ;
    border-radius: 4px 10px 10px 4px;
    background: rgb(2,0,36);
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color:#fff
  }
  .files_box img{
    width: 30px;
  }
  .files_box .download_icon{
   color: rgb(255, 255, 255);
   font-size: 25px;
   cursor: pointer;
   border-radius: 10px;
   text-align: center;
  }
  .files_box .download_icon:hover{
   background-color: white;
   color: rgb(2,0,36);
  }

  .Imgfiles_container{
    display:flex ;
    border-radius: 4px 10px 10px 4px;
  }
  .Imgfiles_container img{
   width: 100px;
   height:100px;
  }
  
  