.files_conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .files_box{
    display:flex ;
    border-radius: 4px 10px 10px 4px;
    background: rgb(2,0,36);
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color:#fff
  }
  .files_box img{
    width: 30px;
  }
  .files_box .download_icon{
   color: rgb(255, 255, 255);
   font-size: 25px;
   cursor: pointer;
   border-radius: 10px;
   text-align: center;
  }
  .files_box .download_icon:hover{
   background-color: white;
   color: rgb(2,0,36);
  }

  .Imgfiles_container{
    display:flex ;
    border-radius: 4px 10px 10px 4px;
  }
  .Imgfiles_container img{
   width: 100px;
   height:100px;
  }
  
  /* Only for audio element */

  audio {
    width: 200px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 11px;
    padding: 10px;
}
  
  audio::-webkit-media-controls {
    background-color: #f2f2f2;
    color: red;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #e64242;
    border: none;
  }
  
  
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    font-size: 14px;
    color: #777;
  }
  
  audio::-webkit-media-controls-mute-button {
    display: none;
  }
  
  audio::-webkit-media-controls-toggle-button {
    background-color: #e62222;
  }